<div class="panel panel default">
	<div class="panel-body">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="discovery-card" style="background-image: url('/assets/images/pexel1.jpg')">
                	<div class="va-container">
                		<div class="va-middle text-center">
                			<h2><strong>Outdoor Adventures</strong></h2>
                		</div>
                	</div>
                </div>
       </div>
        
        <div class="col-md-4 col-sm-6">
        	<div class="discovery-card" style="background-image: url('/assets/images/pexel2.jpg')">
        		<div class="va-container">
        			<div class="va-middle text-center">
        				<h2><strong>Powered By</strong></h2>
        			</div>
        		</div>
        	</div>
        </div>
        
        <div class="col-md-4 col-sm-6">
        	<div class="discovery-card" style="background-image: url('/assets/pexels3.jpg')">
        		<div class="va-container">
        			<div class="va-middle text-center">
        				<h2><strong>Local People</strong></h2>
        			</div>
        		</div>
        	</div>
        </div>
        </div>

        <div class="text-center">
        	<h2>We believe in ethical adventure tourism</h2>
        	<p>Out of every $100 spent by travelers in a developing country, only $5 stays in the local economy. We believe this is very wrong. We want to help adventure guides and professional instructors from around the world sell their adventures online, connecting travelers directly with these locals.</p>
        </div>
</div>