<%= form_for([@adventure, @adventure.reviews.new]) do |f| %>
	
	<div id="user_stars"></div>
	<div class="form-group">
	<%= f.text_area :comment, rows:3, class:"form-control", placeholder:"comment"%>	
	</div>
	

	<%= f.hidden_field :adventure_id, value: @adventure.id %>

	<div class="actions">
		<%= f.submit "Submit", class: "btn btn-primary"%>
	</div>

<% end %>

<script>
	$('#user_stars').raty({
		path: '/assets',
		scoreName: 'review[star]',
		score: 1
	});
</script>